body {
  font-family: "Lato", sans-serif;
  width: 100vw;
  overflow: hidden !important;
  height: 100vh !important;
}

.sidenav {
  height: 100%;
  width: 196;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 20px;
  text-align: center;
}

.sidenav a {
  height: 24px;
  padding: 18px 40px 18px 40px;
  text-decoration: none;
  font-family: 'Roboto, "Nanum Gothic", Tahoma, Dotum, Verdana, Arial, "Trebuchet MS","Noto sans","Noto sans kr';
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #636363;
  display: block;
}

.sidenav a:hover {
  color: blue;
}


/* main section */
.wrapper {
  padding-top: 60px;
  width: 1619px;
  height: 100vh;
  margin-left: 300px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 30px;
}

.box {
  margin: 0;
  width: 400px;
  height: 420px;
  z-index: 1001;
  box-sizing: border-box;
  position: relative;
  border: none;
}

.img-contain {
  position: absolute;
  left: 0;
  top: 0;
  width: 410px;
  height: 420px;
}

.box img {
  width: inherit;
  height: inherit;
}

body {
  background-color: white;
}

form {
  width: 1000px;
  margin-auto;
  margin-top: 80px;
  margin-left: 300px;
}

input {
  text-align: center;
}

.search {
  width: 80%;
  padding: 10px;
  font-size: 20px;
}

.submit {
  width: 15%;
  padding: 10px;
  font-size: 20px;
  background-color: #333399;
  color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

body {
  background-color: white;
}

form {
  width: 1000px;
  margin-auto;
  margin-top: 80px;
  margin-left: 300px;
}

input {
  text-align: center;
}

.search {
  width: 80%;
  padding: 10px;
  font-size: 20px;
}

.submit {
  width: 15%;
  padding: 10px;
  font-size: 20px;
  background-color: #333399;
  color: white;
}
